{% extends 'base.html' %}
{% load static %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/prism.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <fieldset disabled>
                    <div class="row disabled">
                        <div class="col col-6">
                            Название: <input type="text" value="{{ snippet.name }}" class="form-control">
                        </div>
                        <div class="col col-4">
                            Дата создания:<input type="text" value="{{ snippet.creation_date }}" class="form-control">
                        </div>
                        <div class="col col-2">
                            Просмотры: <input type="text" value="{{ snippet.views_count }}" class="form-control">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-9">
                            <div class="p-2 h-100" style="border:1px solid #ced4da; border-radius:5px;">
                                <pre><code class="language-{{ snippet.lang }}">{{ snippet.code }}</code></pre>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="col-md-3">
                                <h5>Теги:</h5>
{#                            'ManyRelatedManager' object is not iterable #}
                                {% for tag in snippet.tags.all %}
                                    <span class="badge bg-primary me-2 mb-1">{{ tag.name }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        {#  Форма добавления комментария      #}
        <div class="row mt-4">
            <div class="col-8">
                <div class="card mb-4">
                    <div class="card-header">
                        <h5>Оставить комментарий</h5>
                    </div>
                    <div class="card-body">
                        <form action="{% url 'comment_add' %}" method="POST">
                            <div class="mb-3">
                                {% csrf_token %}
                                {{ comment_form.text }}
                                {#                        <textarea class="form-control" id="commentText" rows="5"#}
                                {#                                  placeholder="Введите ваш комментарий здесь..." required></textarea>#}
                                <input type="hidden" name="snippet_id" value="{{ snippet.id }}">
                            </div>
                            <button type="submit" class="btn btn-primary">Отправить комментарий</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {#        <div class="row">#}
        {#            <div class="col">#}
        {#                <form action="{% url 'comment_add' %}" method="POST">#}
        {#                     {{ comment_form }}#}
        {#                    <input type="hidden" name="snippet_id" value="{{ snippet.id }}">#}
        {#                    <button type="submit">Добавить</button>#}
        {#                </form>#}
        {#            </div>#}
        {#        </div>#}
        {# Всего комментариев  #}
        <div class="row">
            <div class="col-8">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h5 class="mb-0">Всего комментариев: <span class="badge bg-secondary">{{ comments | length }}</span>
                    </h5>
                    <button class="btn btn-outline-secondary btn-sm">
                        <i class="fa-solid fa-arrow-up-short-wide"></i>
                        Сортировка
                    </button>
                </div>
            </div>
        </div>
        {#  Отображение комментариев #}
        <div class="row mt-4">
            <div class="col-8">
                <ul class="list-group mb-3">
                    {% for comment in comments %}
                        <li class="list-group-item d-flex align-items-start">
                            <div class="w-100">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">{{ comment.author }}</h5>
                                    <small class="text-muted">{{ comment.creation_date | date:"j E Y г. в H:i" }}</small>
                                </div>
                                <p class="mb-1">
                                    {{ comment.text }}
                                </p>
                                <small>
                                    <a href="#" class="text-decoration-none me-2">Ответить</a>
{#                                    <a href="#" class="text-decoration-none me-2">#}
{#                                        <i class="fa-regular fa-thumbs-up"></i>#}
{#                                    </a>#}
{#                                    <a href="#" class="text-decoration-none">#}
{#                                        <i class="fa-solid fa-thumbs-down"></i>#}
{#                                    </a>#}
                                    <div class="d-inline-flex align-items-center me-3">
                                        <button class="btn btn-sm btn-outline-success me-1"
                                                title="Лайк">
                                            <i class="fa-regular fa-thumbs-up"></i>
                                        </button>
                                        <span class="badge bg-success me-2">{{ comment.likes_count }}</span>

                                        <button class="btn btn-sm btn-outline-danger me-1"
                                                title="Дизлайк">
                                            <i class="fa-solid fa-thumbs-down"></i>
                                        </button>
                                        <span class="badge bg-danger">{{ comment.dislikes_count }}</span>
                                    </div>
                                </small>
                            </div>
                        </li>
                    {% empty %}
                        <li class="list-group-item d-flex align-items-start">
                            Пока нет комментариев. Будьте первым!
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {#        <div class="row">#}
        {#            <div class="col">#}
        {#                <table border="1">#}
        {#                    <tr>#}
        {#                        <th>Автор</th>#}
        {#                        <th>Комментарий</th>#}
        {#                        <th>Дата</th>#}
        {#                    </tr>#}
        {#                    {% for comment in comments %}#}
        {#                        <tr>#}
        {#                            <td>{{ comment.author.username }}</td>#}
        {#                            <td>{{ comment.text }}</td>#}
        {#                            <td>{{ comment.creation_date|date:"Y-m-d H:i" }}</td>#}
        {#                        </tr>#}
        {#                    {% empty %}#}
        {#                        <tr>#}
        {#                            <td colspan="3">Пока нет комментариев. Будьте первым!</td>#}
        {#                        </tr>#}
        {#                    {% endfor %}#}
        {#                </table>#}
        {#            </div>#}
        {#        </div>#}
    </div>
    <script src="{% static 'js/prism.js' %}"></script>
{% endblock %}


