{% extends 'base.html' %}
{% load static %}
{#{% load querystring %}#}
{% block style %}
    {{ block.super }}
    <style>
        .fa-solid {
            color: #932e2e;
        }
    </style>
{% endblock %}
{% block content %}
    <!-- Begin page content -->
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>{{ pagename }}</h1>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p>На данной страницы будут отображаться все созданные сниппеты.</p>
                <p>Пока тут просто пример, но скоро заменим реальными сниппетами из БД!</p>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form action="" method="get">
                    <label>Поиск: </label>
                    <input type="text" name="search" class="form-control">
                    <input type="submit" value="Find">
                </form>
            </div>
        </div>

        <div class="row mb-3">
            <form action="" method="get">
                <div class="col-md-6">
                    <div class="filter-section">
                        <label for="languageFilter" class="form-label">Фильтр по языку:</label>
                        <select class="form-select" id="languageFilter" name="lang">
                            <option value="">Выберите язык</option>
                            {% for LANG_CHOICE in LANG_CHOICES %}
                                <option {% if lang == LANG_CHOICE.0 %}selected {% endif %}
                                        value="{{ LANG_CHOICE.0 }}">{{ LANG_CHOICE.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="filter-section">
                        <label for="authorFilter" class="form-label">Фильтр по автору:</label>
                        <select class="form-select" id="authorFilter" name="user_id">
                            <option selected value="">Выберите пользователя</option>
                            {% for user in users %}
                                <option value="{{ user.id }}">{{ user.username }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-1">
                    <input class="form-control" type="submit" value="OK">
                </div>
            </form>
        </div>
        </nav>

        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead class="table-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">{% if sort == 'name' %}
                            <a href="?sort=-name">Название</a>
                            <i style="color: white" class="fa-solid fa-arrow-up-a-z"></i>
                        {% elif sort == '-name' %}
                            <a href="?sort=name">Название</a>
                            <i style="color: white" class="fa-solid fa-arrow-up-z-a"></i>
                        {% else %}
                            <a href="?sort=name">Название</a>
                        {% endif %}</th>
                        <th scope="col">{% if sort == 'lang' %}
                            <a href="?sort=-lang">Язык</a>
                            <i style="color: white" class="fa-solid fa-arrow-up-a-z"></i>
                        {% elif sort == '-lang' %}
                            <a href="?sort=lang">Язык</a>
                            <i style="color: white" class="fa-solid fa-arrow-up-z-a"></i>
                        {% else %}
                            <a href="?sort=lang">Язык</a>
                        {% endif %}</th>
                        <th scope="col">Дата создания</th>
                        <th scope="col">Автор</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if page_obj.paginator.count > 0 %}
                        {% for snippet in page_obj %}
                            <tr>
                                <td scope="row">{{ snippet.id }}</td>

                                <td>
                                    <a href={% url 'snippet-detail' snippet.id %}>{{ snippet.name }}</a>
                                    <a href="{% url 'snippet-delete' snippet.id %}">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                    <a href="{% url 'snippet-edit' snippet.id %}">
                                        <i class="fa-solid fa-pencil"></i>
                                    </a>
                                </td>
                                <td>
                                    <i class="fa-brands {{ snippet.icon_class }}"></i>
                                    {{ snippet.lang }}
                                </td>
                                <td>{{ snippet.creation_date }}</td>
                                <td>
                                    {% if snippet.public %}
                                        <i class="fa-solid fa-lock-open"></i>
                                    {% else %}
                                        <i class="fa-solid fa-lock"></i>
                                    {% endif %}
                                    {{ snippet.user | default:"Аноним" }}
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="5">
                                <div class="alert alert-info text-center mt-4 mb-0">
                                    {% if request.GET.search or request.GET.lang or request.GET.user_id %}
                                        <h5 class="alert-heading">Сниппеты не найдены 😕</h5>
                                        <p>По заданным фильтрам и/или запросу ничего не найдено.</p>
                                        <a href="{% url 'snippets-page' %}" class="btn btn-outline-secondary mt-2">Сбросить
                                            фильтры</a>
                                    {% else %}
                                        <h5 class="alert-heading">Сниппетов пока нет 📝</h5>
                                        <p>Вы можете быть первым, кто создаст сниппет!</p>
                                        <a href="{% url 'add-snippet-page' %}" class="btn btn-primary mt-2">Создать
                                            сниппет</a>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% endif %}


                    </tbody>
                </table>
                <div class="d-flex justify-content-end">
                    <i class="text-muted">Всего сниппетов: {{ snippets|length }}</i></div>
            </div>

            {# Блок пагинации #}
            {% if page_obj.has_other_pages %} {# Проверяем, есть ли вообще другие страницы #}
                <nav aria-label="Пагинация статей">
                    <ul class="pagination justify-content-center"> {# Центрируем пагинацию #}

                        {# Ссылка на предыдущую страницу #}
                        <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                            <a class="page-link"
                               {% if page_obj.has_previous %}href="?page={{ page_obj.previous_page_number }}"{% endif %}
                               tabindex="-1" aria-disabled="true">Предыдущая</a>
                        </li>

                        {# Номера страниц #}
                        {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                                <li class="page-item active" aria-current="page">
                                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}

                        {# Ссылка на следующую страницу #}
                        <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                            <a class="page-link"
                               {% if page_obj.has_next %}href="?page={{ page_obj.next_page_number }}"{% endif %}>Следующая</a>
                        </li>

                    </ul>
                </nav>
            {% endif %}

        </div>
    </div>
{% endblock %}
